#productos-container {
    width: 500px;
    margin:auto
}


.tarjeta-producto {
    display: flex;
    gap:10px;
    align-items: center;
}

.tarjeta-producto img {
    height: 100px;
    aspect-ratio: 1.5;

}

.tarjeta-producto h3 {
   width: 130px;
}

.header {
    margin-bottom: 20px;
}

#totales, #carrito-vacio {
    text-align: center;
}