#productos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.tarjeta-producto {
    width: 50%;
    margin: 10% 25%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.104);
    transition: 200ms;

    /* transition es para el efecto que se mueva la tarjeta */

  
}

.tarjeta-producto img {
    width: 100%;
    aspect-ratio: 1.5;

    /* Para que todas las imagenes tengan el mismo tamaño */
}

.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.228);
}

.tarjeta-producto h3 {
    text-align: center;
    background-color: brown;
    color: white;
    font-size: 1.5rem;
}

.tarjeta-producto p {
    text-align: center;
    font-size: 2rem;
}

/* Diseño responsive */

/* Estilos para pantallas más pequeñas, como teléfonos móviles */
@media only screen and (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas */
    #productos-container {
        display: flex;
        flex-direction: column;
    }
   
    .nosotros-contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap:5px
    }

  }
  
  /* Estilos para tabletas */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos específicos para tabletas */

    #productos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


  }